body {
  font-family: 'Tahoma', sans-serif;
  background: linear-gradient(to bottom right, #fff8e5, #fcefd9);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
  color: #333;
}

.school-name {
  color: #c09853;
  margin-bottom: 25px;
  font-weight: bold;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: linear-gradient(to right, #f3d697, #f5e1b4);
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#result {
  margin-top: 25px;
  background-color: #fdf4d8;
  padding: 20px;
  border-radius: 10px;
  text-align: right;
  font-size: 16px;
}
